@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  :root {
    --background: 200 19% 18%;
    --foreground: 180 100% 97%;
    --muted: 200 12% 22%;
    --muted-foreground: 200 12% 72%;
    --popover: 200 19% 15%;
    --popover-foreground: 0 0% 100%;
    --card: 200 19% 16%;
    --card-foreground: 0 0% 100%;
    --border: 200 9% 23%;
    --input: 200 9% 26%;
    --primary: 180 100% 97%;
    --primary-foreground: 180 100% 17%;
    --secondary: 180 30% 25%;
    --secondary-foreground: 180 30% 85%;
    --accent: 200 19% 33%;
    --accent-foreground: 200 19% 93%;
    --destructive: 9 96% 48%;
    --destructive-foreground: 0 0% 100%;
    --ring: 180 100% 97%;
    --radius: 0.5rem;
  }

}
